{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formCss') }}


{% endblock %}
{% block body %}


    <div class="container card mt-5">
        <div class="mb-3 modal-header border-0">
            <h2 class="modal-title">Add a new user</h2>
        </div>
        {{ form_start(form,{'attr': {'id': 'form-user'} }) }}
        <div class="my-2 div-form">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="my-2 div-form-text">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div class="pr-0 mt-0 modal-footer border-0">
            <button type="submit" id="add-btn"
                    class="btn text-primary card-link bg-transparent">ENREGISTRER
            </button>
        </div>
        {{ form_end(form) }}

    </div>


    <div class="container mx-auto">
        <div class="mb-3 modal-header border-0">
            <h2 class="modal-title">User list</h2>
        </div>
        <div class="container mx-auto candidateList">
        {% for candidate in candidates %}
            {{ include('candidateCard.html.twig',{'candidate':candidate}) }}
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('candidate') }}
{% endblock %}